card-lancamento {

    [card-img] {
        width: 130px;
        height: 130px;
        margin: 5px;
        position: relative;
    }

    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    [card-subtitle] {
        margin: 0;
    }
    [card-body-text] {
        padding-top: 20px;
        margin-bottom: 10px;
    }
}
